
<%= @survey.name %>
<%= simple_form_for @interview do |i| %>
  <div class="form-inputs">
  <% @questions.each do |q| %>
    Question <%= q.order %>.<%= q.suborder %> :
    <%= q.content %>
    <%= i.simple_fields_for :responses do |r| %>
      <%= r.input :question_id, as: :hidden, input_html: { value: q.id } %>
      <% if q.response_type.eql? "SelectionResponse" %>
        <%= r.input :selection %>
      <% elsif q.response_type.eql? "TextResponse" %>
        <%= r.input :content %>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="form-actions">
    <%= i.button :submit %>
  </div>
<% end %>
